/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

/* CONFIG */

:root {
  font-size: 62.5%;

  --fs-300: 2.0rem;
  --fs-400: 2.2rem;
  --fs-500: 2.4rem;
  --fs-600: 2.8rem;
  --fs-700: 3.2rem;
  --fs-800: 3.6rem;
  --fs-900: 4.0rem;

  --fw-reg: 400;
  --fw-bld: 700;

  --clr-heading: hsl(200, 20%, 18%);
  --clr-text: hsl(200 10% 30%);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-400);
  line-height: 1.5;
  color: var(--clr-text);
}

h1,
h2,
h3 {
  color: var(--clr-heading);
}

img {
  display: block;
  max-width: 100%;
}

/* HIGH-LEVEL LAYOUT */

body {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  width: min(90vw, 120rem);
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.prose {
  max-width: 70ch;
}

/* HEADER */

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  background-color: white;
}

.header__home-link {
  width: 5rem;
}

.nav__list {
  display: flex;
  gap: 6rem;
}

/* INTRO */

.intro {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.intro__head {
  font-size: min(8vw, 8rem);
  font-weight: var(--fw-bld);
  line-height: normal;
}

.intro__title {
  font-size: inherit;
}

/* ABOUT */

.techs {
  display: flex;
  gap: 1rem;
  /* to match extra line-height of prose */
  margin-top: 1.125rem;
}

.tech {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tech__name {
  text-align: center;
}

/* PROJECTS */

.projects-section {
  gap: 3rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem;
}

.project {
  display: flex;
  flex-direction: column;
}

.project__info {
  position: relative;
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem 1rem;
}

.project__source {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  width: 4rem;
}

/* CONTACT */

.address {
  display: flex;
  gap: 2rem;
}

.address__link {
  width: 15rem;
}
